.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 7fr 1fr;
}

#navbar {
  grid-column-start: span 5;
}

#sidebar {
  writing-mode: vertical-rl;
  grid-row-start: span 7;
}

#title {
  grid-column-start: span 4;
}


#content {
  grid-column-start: span 4;
  grid-row-start: span 6;
}

#footer {
  grid-column-start: span 5;
}
